* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background-color: black;
  height: auto;
}

header {
  background-color: white;
  min-height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  font-size: 15px;

  & section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  & nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    & a {
      text-decoration: none;
      color: black;
    }
  }
}



.hero {
  background-image: url(./img/plano-de-fundo-de-tinta-acrilica.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  gap: 1rem;


  & h1,
  a {
    color: black;
    font-size: 2rem;
  }

  & a {

    padding: .7rem;
    text-decoration: none;
    text-align: center;
    border: 3px solid black;
    font-size: 1rem;

    &:hover {
      color: black;
      background-color: white;
    }

  }



}

.about_me {
  min-height: 30rem;
  background-color: white;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  & .about_me_card {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    & img {
      object-fit: cover;
      background-size: contain;
      width: 23rem;
      padding: 1rem;
    }

    & p {
      font-size: 15px;

      &:hover {
        color: red;
      }

    }

  }

}


.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
  background-color: white;

  .img-container {
    position: relative;
    overflow: hidden;

    & img {
      width: 100%;
      height: auto;
      object-fit: cover;
      display: block;
    }

    & .img-text {
      position: absolute;
      bottom: 0;
      background: rgba(0, 0, 0, 0.6);
      color: white;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      text-align: center;
      padding: 0.5rem;
      font-size: 1rem;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &:hover .img-text {
      opacity: 1;
    }
  }
}


.gallery-footer {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  height: 4rem;
  font-size: 15px;
  background-color: white;
  padding: 1rem;
}


@media (min-width: 767px) {
  header {
    flex-direction: row;
    font-size: 20px;

    & section {
      justify-content: left;
    }

  }

  .hero {
    & h1 {
      font-size: 4rem;
    }

    & a {
      font-size: 2rem;
    }
  }

  .about_me .about_me_card img{
    width: 40rem;
  }

   .about_me .about_me_card h2{
    font-size: 3rem;
  }

   .about_me .about_me_card p{
    font-size: 2rem;
  }


}

/* Small (sm) - ≥576px /
@media (min-width: 576px) {
  / estilos para pantallas sm y mayores /
}

/ Medium (md) - ≥768px /
@media (min-width: 768px) {
  / estilos para pantallas md y mayores /
}

/ Large (lg) - ≥992px /
@media (min-width: 992px) {
  / estilos para pantallas lg y mayores /
}

/ Extra Large (xl) - ≥1200px /
@media (min-width: 1200px) {
  / estilos para pantallas xl y mayores /
}

/ Extra Extra Large (xxl) - ≥1400px /
@media (min-width: 1400px) {
  / estilos para pantallas xxl y mayores /
}
*/